.photo-card-list {
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  margin-top: 10px;
}
